<div class="widget tag">
<p class="asidetitle"><%= __('博主简介') %></p>
<ul class="entry">
<li>代号：麦子/MaiZi</li>
<li>现状：帝都iOS程序员一枚。</li>
<li>QQ号：390823033</li>
<li>想交朋友的请<u><i><b><a href="http://www.hackmz.com/about/" title="about me" style="color:red">联系我</a></b></i></u>！欢迎美女来搭讪^_^！</li>
</ul>
</div>